<!DOCTYPE html>
<html lang="en">
<head>
  <title>Luna Multiplayer Endpoint</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

  
  
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/update"><button type="button" class="btn btn-info">Download Latest Build</button></a>
    </li>
  </ul>
  <div class="jumbotron jumbotron-fluid">
  
<div class="container-fluid">
  <h1>LunaMultiplayer Endpoint</h1>
  <p>This service provides people a easy direct link to download the latest version of Luna Multiplayer. Instantly updated to the latest debug version.</p>
    
  </div>
</div>

  
  </body>
</html>