<!DOCTYPE html>
<html lang="en">
<head>
  <title>Luna Multiplayer Endpoint</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

  
  
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/version">Current Build Version</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="/update">Update Repo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/latest">Download Latest Build</a>
    </li>
  </ul>
  <div class="jumbotron jumbotron-fluid">
  
<div class="container-fluid">
  <h1>LunaMultiplayer Endpoint</h1>
  <p> I have set up a few endpoints that can be used in other scripts and programs to help reduce headaches.</p> 
    
  <div class="shadow-lg p-4 mb-4 bg-white">
  
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://cdn.glitch.com/07cf558e-36f8-4713-ab76-7bc65c1d63df%2Fwelcome.gif?1524457893876" alt="Card image">
        <div class="card-body">
        <h4 class="card-title">Public Servers</h4>
        <p class="card-text">These servers are running on the latest edge releases. </p>
        <a href="#" class="btn btn-primary">See Server List</a>
      </div>
    </div>
  </div>
</div>

  </div>
  
  </body>
</html>


<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Click to see endpoint list</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>